@import url("./fonts.css");

:root {
    --blue-light: #F6F5FF;
    --blue-dark: #3E3E7C;
}

html {
    height: 100%;
}

body {
    font-family: "Author-Variable", Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: var(--blue-light);
    color: var(--blue-dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

p {
    font-family: "Author-Medium", Arial, Helvetica, sans-serif;
}

div.header {
    margin-top: 40vh;
    text-align: center;
}

div.header img {
    width: 40vw;
    max-width: 700px;
    min-width: 250px;

    /* No touch */
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor: default;
}

div.footer { 
    text-align: center;
}

div.footer p {
    font-size: 28.65px;
}


/* Responsive */

@media only screen and (max-width: 700px) {
    div.footer p {
        font-size: 18px;
    }
}

@media only screen and (max-width: 375px) {
    div.footer p {
        font-size: 14px;
    }
}